{% extends "layout.html" %}

{% block styles %}
    <style type="text/css">
        .padded-row {
            padding: 5px;
            margin: 5px;
        }

        /* The Modal (background) */
        .edit-modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            z-index:99;
        }

        /* Modal Content/Box */
        .edit-modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
            border-radius: 8px;
        }

        /* The Close Button */
        .close-edit {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close-edit:hover,
        .close-edit:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block headscripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
<script>
$(document).ready(function() {
    $(document).on('click', '#delete', function() {
        let that = this;
        bootbox.confirm({ 
            size: 'small',
            message: "Are you sure you wish to delete this publication?", 
            callback: function(result) {
                if (result) {
                    // Confirmed. Delete the publication
                    let delete_post = {_id:$(that).closest('tr').attr('id')};
                    $.post('/display/publications/delete', delete_post, function(){
                        location.reload();
                    });
                }
            }
        });
    });

    $(document).on('click', '#export', function() {
        // Kind of hacky, but theres no clean way to start a download from a post
        let url = '/display/publications/export/';
        var form = $('<form></form>').attr('action', url).attr('method', 'post');
        form.append($("<input></input>").attr('type', 'hidden').attr('name', '_id').attr('value', $(this).closest('tr').attr('id')));
        form.appendTo('body').submit().remove();
    });

    $(document).on('click', '#edit', function() {
        // Get the modal
        let pubId = $(this).closest('tr').attr('id');
        console.log('myModal-'+pubId);
        var modal = document.getElementById('myModal-'+pubId);

        modal.style.display = "block";

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });

    $(document).on('click', '.close-edit', function(){
        let modals = document.getElementsByClassName('edit-modal');
        for (var i=0; i < modals.length; i++)
            modals[i].style.display = "none";
    });


    // Documentation at http://www.gyrocode.com/articles/jquery-datatables-how-to-add-a-checkbox-column/
    $('#publicationTable').dataTable({
        "columnDefs" : [{
            "orderable": false,
            "searchable": false,
            "className": "dt-body-center",
            "targets": -1 // The last column
        },
        {
            "targets": 0,
            "orderable": false,
            "searchable": false,
            "render": function (data, type, full, meta){
                 return '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">';
              }            
        }]
    });

});
</script>
     {% if use_date %}
        <script type="text/javascript"
                src={{ url_for('static', filename='lib/moment-with-locales.min.js') }}></script>
        <script type="text/javascript"
                src={{ url_for('static', filename='lib/bootstrap-datetimepicker.min.js') }}></script>
    {% endif %}
    {% if use_files %}
        <script type="text/javascript"
                src="{{ url_for('static', filename='lib/jquery_file_upload/js/vendor/jquery.ui.widget.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='lib/jquery_file_upload/js/jquery.iframe-transport.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='lib/jquery_file_upload/js/jquery.fileupload.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='lib/jquery_file_upload/js/jquery.fileupload-process.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='lib/jquery_file_upload/js/jquery.fileupload-ui.js') }}"></script>
    {% endif %}
    <script type="text/javascript"
            src="//cdn.ckeditor.com/4.5.10/full/ckeditor.js"></script>
    <script type="text/javascript"
            src={{ url_for('static', filename='lib/handlebars.min.js') }}></script>
    <script type="text/javascript"
            src={{ url_for('static', filename='lib/alpaca.min.js') }}></script>

    {% include formfile %}
    <script>
    $(document).ready(function() {
    {% for pub in publicationList %}
        renderEditForm(".form-{{ pub._id }}",{{ pub | tojson }});
    {% endfor %}
    });
    </script>
{% endblock %}

{% block content %}
    <div class="jumbotron" style="padding: 10px;">
    <div class="row padded-row">
    <div class="col-md-12">
        <h2>Publications</h2>
        <br>
        <table id="publicationTable" class="table table-striped table-hover">
            <thead>
                <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                <th>Publication</th>
                <th>Actions</th>
            </thead>
            <tbody>
            {% for item in publicationList %}
            <tr id="{{ item._id }}">
                <td style="vertical-align:middle;"></td>
                <td style="vertical-align:middle;">{{ item.publication|safe }}</td>
                <td width="150" style="vertical-align:middle;">
                    <button type="button" title="Edit" class="btn btn-default" id="edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <div id="myModal-{{ item._id }}" class="edit-modal">
                        <div class="edit-modal-content">
                          <span class="close-edit">x</span>
                          <div class="form-{{ item._id }}"></div>
                        </div>

                    </div>
                    <button type="button" title="Delete" class="btn btn-default" id="delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" title="Export Manifest" class="btn btn-default" id="export">
                        <span class="glyphicon glyphicon-download"></span>
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#help").click(function () {
                html = '<p>Publications contains a list of all publications in the database. .';
                $('#myModal .modal-title').html("<h3>Publications Help</h3>");
                $('#myModal .modal-body').html(html);
                $('#myModal').modal();
            });
        });
    </script>
{% endblock %}