{% extends "base.html" %}
{% set active_page = 'index' %}
{% block head %}
<html>
<head>
<title>Publication Form Demo</title>
<!-- dependencies (handlebars) -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>

<script type="text/javascript">
function removePublication(id, publication) {
    msg = 'Are you sure you wish to delete <b>' + publication + '</b>?';
    $('.modal-body').html(msg);
    $('#myModal').modal();

    $('#cancelBtn').click(function() {
        $('#myModal').modal('hide');
    });
    $('#deleteBtn').click(function() {
        $.ajax({
            type: "POST",
            url: "/delete",
            data: id.toString(),
            contentType: 'charset=UTF-8',
            headers: { 'dummyFunction': 'dummy' },
            beforeSend: function(){
                //alert('sending');
            },
            success: function(response) {
                // Remove the panel from the DOM and hide the modal
                panel = '#panel-'+id;
                $(panel).remove();                
                $('#myModal').modal('hide');
            },
            complete: function(){
                //alert('Database action complete.');
            },
            error: function(jqXHR, textStatus, errorThrown){
                $('.modal-body').html('Error: Your action could not be completed.');
                $('#errorModal').modal();
                console.log("Error: " + errorThrown);
            }
        });
    });
}
</script>
{% endblock %}

{% block content %}
<div class="jumbotron" style="padding: 10px;">
  <h2>Publications</h2>

{% if result == "" %}
<p>The database has not been queried.</p>
{% else %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for publication in results %}
  <div class="panel panel-default" id="panel-{{ publication["_id"]|safe }}">
    <div class="panel-heading" role="tab" id="heading-{{ publication["_id"]|safe }}">
      <h3 class="panel-title" style="font-weight:bold;">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ publication["_id"]|safe }}" aria-expanded="false" aria-controls="collapse--{{ publication["_id"]|safe }}">
          {{ publication["publication"]|safe }}</a>&nbsp;&nbsp;<a href="#" class="navbar-icon" onclick="window.location='{{ url_for("edit") }}?_id={{ publication["_id"]|safe }}&amp;path={{ publication["path"]|safe }}'"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp;<a href="#" class="navbar-icon" onclick="removePublication('{{ publication["_id"]|safe }}','{{ publication["publication"]|safe }}');"><span class="glyphicon glyphicon-remove"></span></a>
        </a>
      </h3>
    </div>
    <div id="collapse-{{ publication["_id"]|safe }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ publication["_id"]|safe }}">
      <div class="panel-body">
        {{ publication["htmlResult"]|safe }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

<!-- Large modal -->
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header alert-danger">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Warning!</h3>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button id="deleteBtn" type="button" class="btn btn-primary">Delete</button>
        <button id="cancelBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Small modal for errors -->
<div id="errorModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
{% endif %}
{% endblock %}