{% extends "layout.html" %}


{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet"
          href={{ url_for('static', filename='lib/alpaca.min.css') }}/>
    {% if use_date %}
        <link type="text/css" rel="stylesheet" media="screen"
              href={{ url_for('static', filename='lib/bootstrap-datetimepicker.min.css') }}/>
    {% endif %}
    {% if use_files %}
        <link type="text/css" rel="stylesheet"
              href="{{ url_for('static', filename='lib/jquery_file_upload/css/jquery.fileupload.css') }}"/>
        <link type="text/css" rel="stylesheet"
              href="{{ url_for('static', filename='lib/jquery_file_upload/css/jquery.fileupload-ui.css') }}"/>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="jumbotron"><h2>WhatEvery1Says {{ formname }}</h2>
        <p>
            <a class="btn btn-primary btn-lg" role="button" onclick="resetForm()">Reset Form</a>
        </p>
        <div id="form"></div>
    </div>
    <!-- Modal Containing Response to Database Query -->
    <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Data Saved to MongoDB</h3>
                </div>
                <div class="modal-body" style="margin-top:10px;">
                    {{ msg }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {% if use_date %}
        <script type="text/javascript"
                src={{ url_for('static', filename='lib/moment-with-locales.min.js') }}></script>
        <script type="text/javascript"
                src={{ url_for('static', filename='lib/bootstrap-datetimepicker.min.js') }}></script>
    {% endif %}
    {% if use_files %}
        <script type="text/javascript"
                src="{{ url_for('static', filename='lib/jquery_file_upload/js/vendor/jquery.ui.widget.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='lib/jquery_file_upload/js/jquery.iframe-transport.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='lib/jquery_file_upload/js/jquery.fileupload.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='lib/jquery_file_upload/js/jquery.fileupload-process.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='lib/jquery_file_upload/js/jquery.fileupload-ui.js') }}"></script>
    {% endif %}
    <script type="text/javascript"
            src="//cdn.ckeditor.com/4.5.10/full/ckeditor.js"></script>
    <script type="text/javascript"
            src={{ url_for('static', filename='lib/handlebars.min.js') }}></script>
    <script type="text/javascript"
            src={{ url_for('static', filename='lib/alpaca.min.js') }}></script>
    {% include formfile %}
{% endblock %}
