<!DOCTYPE html>
<html>
<head>
    <title>WhatEvery1Says Demo</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="{{ url_for('static', filename='css/styles.css') }}?ver={{ version }}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
          rel="stylesheet"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for("main") }}">WE1S</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--         <li><a href="{{ url_for("main") }}">About <span class="sr-only">(current)</span></a></li>
 -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Display <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for("displayPublications") }}">Publications</a></li>
                        <li><a href="{{ url_for("displayCorpus") }}">Corpus</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" onclick="alert('This is just a place holder.');">Something else</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Create <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for("addPublication") }}">Publication Manifest</a></li>
                        <li><a href="{{ url_for("addCollection") }}">Corpus Manifest</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" onclick="alert('This option is not yet available.');">Corpus Record</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="searchHelp" href="#"><span style="font-size:larger;"
                                                      class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                                      aria-label="Help"></span></a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input id="search" type="text" class="form-control" placeholder="Search">
                </div>
                <button id="searchSubmit" class="btn btn-default">Submit</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchHelp").click(function () {
            html = "<p>The search option will list all publications and collections containing the (case insensitive) search string in the <code>_id</code> property. Each listing links to the document's edit form.";
            $('#searchModal .modal-title').html("<h3>Search Help</h3>");
            $('#searchModal .modal-body').html(html);
            $('#searchModal').modal();
        });

        $("#searchSubmit").click(function (e) {
            e.preventDefault();
            var query = {"query": $("#search").val()};
            $.ajax({
                type: "POST",
                url: "{{ url_for('search') }}",
                data: JSON.stringify(query, null, '\t'),
                contentType: 'application/json;charset=UTF-8',
                headers: {'dummyFunction': 'dummy'},
                beforeSend: function () {
                    //alert('Sending...');
                },
                success: function (htmlResult) {
                    $('.modal-body').html(htmlResult);
                    $('#searchModal').modal();
                },
                complete: function () {
                    //alert('Database action complete.');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('.modal-body').html('Error: Your action could not be completed.');
                    $('#myModal').modal();
                    console.log("Error: " + errorThrown);
                }
            });
        });
    });
</script>

<!-- Main Content -->
<main>
    {% block content %}{% endblock %}
</main>

<!-- Footer -->
<footer>
	<span id="aboutus">
		© 2015
		<a href="http://4humanities.org/" target="_blank">4Humanities</a> 
		<a href="http://4humanities.org/category/whatevery1says/" target="_blank">WhatEvery1Says Research Group</a>
		 · 
	</span>
    <br>
    <span id="license">
		This site is licensed under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.
	</span>
</footer>

<!-- Modal Containing Response to Database Query -->
<div id="searchModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Search Results</h3>
            </div>
            <div class="modal-body" style="margin-top:10px;">
                {{ msg }}
            </div>
        </div>
    </div>
</div>

</body>
</html>